<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Quiniela NFL 2014</title>

		<!-- Core CSS - Include with every page -->
		<link href="assets/css/bootstrap.css" rel="stylesheet">
		<link href="assets/css/font-awesome.css" rel="stylesheet">
		<!-- CUSTOM para el espacio despues de navbar-->
		<link href="assets/css/custom.css" rel="stylesheet" />
		
		<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
		
	</head>

	<body ng-app="app" ng-controller = "sesionController as app">
		<div class="container">
		<!--Empieza Navbar -->
			<div id="navbar-main">
				<div class="navbar navbar-inverse navbar-fixed-top">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<img class="img-responsive" src="assets/img/logo_nfl_mini.gif"/>
							</button>
							<a class="navbar-brand hidden-xs hidden-sm" href="#home">
								<img class="img-responsive" src="assets/img/logo_nfl_mini.gif"/>
							</a>
						</div>
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li ng-if="app.sesion == 1">
									<a href="homeUsuario.html" class="smoothScroll">Mi Quiniela</a>
								</li>
								<li>
									<a href="ranking.html" class="smoothScroll"> Ranking</a>
								</li>
								<li>
									<a href="conferencias.html" class="smoothScroll"> Conferencias</a>
								</li>
								<li>
									<a href="reglas.html" class="smoothScroll"> Reglas</a>
								</li>
							</ul>
							<ul ng-if="app.sesion == 1" class="nav navbar-nav navbar-right">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Hola {{app.nombreUsuario}}!<span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="actualizaPassword.html" class="smoothScroll">Actualiza Password</a></li>
									</ul>
								</li>
								<div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;">
									<a href="../../rest/logoutSchrodinger.php" class="btn btn-danger square-btn-adjust">Logout <span class="glyphicon glyphicon-off"></span></a> 
								</div>
							</ul>
							<form ng-if="app.sesion == 0" class="navbar-form navbar-right" role="form">
								<div class="form-group">
									<input class="form-control input-sm" placeholder="Usuario" name="usuario" type="text" ng-model="usuario.usuario" autofocus>
								</div>
								&nbsp;
								<div class="form-group">
									<input class="form-control input-sm" placeholder="Password" name="password" type="password" ng-model="usuario.password" value="">
								</div>
								&nbsp;
								<div class="form-group">
									<button type="submit" class="btn btn-success" ng-click="iniciaSesion(usuario)">Login</button>
								</div>	
							</form>
						</div>
					</div>
				</div>	
			</div>
		</div>
	
		<script src="../dist/angular/angular.js"></script>
		<script src="../controller/sesionController.js"></script>
		
		<!-- Core Scripts - Include with every page -->
		<script src="assets/js/jquery-1.10.2.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/jquery.metisMenu.js"></script>

		<script>
			var images = ['nfl_01.jpg','nfl_02.jpg','nfl_03.jpg','nfl_04.jpg','nfl_05.jpg',]; 
			$('body').css({'background-image': 'url(assets/img/'+images[Math.floor(Math.random() * images.length)] + ')'});
		</script>
		
		<!-- SB Admin Scripts - Include with every page -->
		<script src="assets/js/sb-admin.js"></script>
		
	</body>
</html>
