<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>NFL 2014</title>
		<!-- BOOTSTRAP STYLES-->
		<link href="assets/css/bootstrap.css" rel="stylesheet" />
		<!-- FONTAWESOME STYLES-->
		<link href="assets/css/font-awesome.css" rel="stylesheet" />
		<!-- CUSTOM STYLES-->
		<link href="assets/css/custom.css" rel="stylesheet" />
		<!-- GOOGLE FONTS-->
		<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
		<!-- TABLE STYLES-->
		<link href="assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
	</head>
	<body ng-app="app" ng-controller = "rankingController as app">
		<div id="wrapper">
			<div id="navbar-main">
				<div class="navbar navbar-inverse navbar-fixed-top">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<img class="img-responsive" src="assets/img/logo_nfl_mini.gif"/>
							</button>
							<a class="navbar-brand hidden-xs hidden-sm" href="#home">
								<img class="img-responsive" src="assets/img/logo_nfl_mini.gif"/>
							</a>
						</div>
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li ng-if="app.sesion == 1">
									<a href="homeUsuario.html" class="smoothScroll">Mi Quiniela</a>
								</li>
								<li>
									<a href="ranking.html" class="smoothScroll"> Ranking</a>
								</li>
								<li>
									<a href="conferencias.html" class="smoothScroll"> Conferencias</a>
								</li>
								<li>
									<a href="reglas.html" class="smoothScroll"> Reglas</a>
								</li>
							</ul>
							<ul ng-if="app.sesion == 1" class="nav navbar-nav navbar-right">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Hola {{app.nombreUsuario}}!<span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="actualizaPassword.html" class="smoothScroll">Actualiza Password</a></li>
									</ul>
								</li>
								<div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;">
									<a href="../../rest/logoutSchrodinger.php" class="btn btn-danger square-btn-adjust">Logout <span class="glyphicon glyphicon-off"></span></a> 
								</div>
							</ul>
							<form ng-if="app.sesion == 0" class="navbar-form navbar-right" role="form">
								<div class="form-group">
									<input class="form-control input-sm" placeholder="Usuario" name="usuario" type="text" ng-model="usuario.usuario" autofocus>
								</div>
								&nbsp;
								<div class="form-group">
									<input class="form-control input-sm" placeholder="Password" name="password" type="password" ng-model="usuario.password" value="">
								</div>
								&nbsp;
								<div class="form-group">
									<button type="submit" class="btn btn-success" ng-click="iniciaSesion(usuario)">Login</button>
								</div>	
							</form>
						</div>
					</div>
				</div>	
			</div>

            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
						<img class="img-responsive center-block" src="assets/img/ranking.png" alt="" />
                    </div>
                </div>
                <hr />
				
				<section class="section-divider textdivider divider5">
					<div class="container">
						<h1>POSICIONES</h1>
						<hr>
						<p>NFL</p>
						<p></p>
					</div>
				</section>
				
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover" id="dataTables-example">
									<thead>
										<tr>
											<th>Posicion</th>
											<th>Nombre</th>
											<th>Puntos</th>
										</tr>
									</thead>
									<tbody>
										<tr class="odd gradeX" ng-repeat="rank in app.ranking track by $index">
											<!--<td>{{$index + 1}}</td>-->
											<td ng-if="rank.posicion == 1" style="color:#D81B24">{{rank.posicion}}</td>
											<td ng-if="rank.posicion == 2" style="color:#1BD854">{{rank.posicion}}</td>
											<td ng-if="rank.posicion > 2" style="color:#E49B0B">{{rank.posicion}}</td>
											<td ng-if="rank.posicion == 1" style="color:#D81B24">{{rank.nombreUsuario}}</td>
											<td ng-if="rank.posicion == 2" style="color:#1BD854">{{rank.nombreUsuario}}</td>
											<td ng-if="rank.posicion > 2" style="color:#E49B0B">{{rank.nombreUsuario}}</td>
											<td ng-if="rank.posicion == 1" style="color:#D81B24">{{rank.puntosQuiniela}}</td>
											<td ng-if="rank.posicion == 2" style="color:#1BD854">{{rank.puntosQuiniela}}</td>
											<td ng-if="rank.posicion > 2" style="color:#E49B0B">{{rank.puntosQuiniela}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
		<!-- JQUERY SCRIPTS -->
		<script src="assets/js/jquery-1.10.2.js"></script>
		  <!-- BOOTSTRAP SCRIPTS -->
		<script src="assets/js/bootstrap.min.js"></script>
		<!-- METISMENU SCRIPTS -->
		<script src="assets/js/jquery.metisMenu.js"></script>
		 <!-- DATA TABLE SCRIPTS -->
		<script src="assets/js/dataTables/jquery.dataTables.js"></script>
		<script src="assets/js/dataTables/dataTables.bootstrap.js"></script>
		<script src="../dist/angular/angular.js"></script>
		<script src="../controller/rankingController.js"></script>

			<script>
				$(document).ready(function () {
					$('#dataTables-example').dataTable({
					 "paging": false,
					 "ordering": false,
					 "info": false,
					 "search": false});
				});
		</script>
        <!-- CUSTOM SCRIPTS -->
		<script src="assets/js/custom.js"></script>
   
	</body>
</html>
