<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiniela Mundial 2014</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
     <!-- MORRIS CHART STYLES-->
   
        <!-- CUSTOM STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link href="assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body ng-app="app" ng-controller = "resultadosController as app">
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="login.html">Mundial 2014</a> 
            </div>
  <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> <a href="../../rest/logoutSchrodinger.php" class="btn btn-danger square-btn-adjust">Logout</a> </div>
        </nav>   
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<li class="text-center">
                    <img src="assets/img/logo_brasil.gif" class="user-image img-responsive"/>
					</li>
					<li  >
                        <a href="homeUsuario.html"><i class="fa fa-male fa-3x"></i> Mi Quiniela</a>
                    </li>
					<li  >
                        <a class="active-menu" href="#"><i class="fa fa-group fa-3x"></i> Quiniela General</a>
                    </li>
					<li  >
                        <a href="ranking.html"><i class="fa fa-table fa-3x"></i> Ranking</a>
                    </li>
                    <li  >
                        <a  href="actualizaPassword.html"><i class="fa fa-edit fa-3x"></i> Cambio de Password</a>
                    </li>
					<li  >
                        <a href="grupos.html"><i class="fa fa-check-square-o fa-3x"></i> Grupos</a>
                    </li>				
					<li  >
                        <a href="reglas.html"><i class="fa fa-thumbs-o-up fa-3x"></i> Reglas</a>
                    </li>									
                </ul>
            </div>
            
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Quiniela General</h2>   
					 <br/>
					 <h5 style="font-weight:bold">Da clic en cada partido para ver la Quiniela General</h5>
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
			
			<div class="bs-example">
				<div class="panel-group" id="accordion">
					<div class="panel panel-default" ng-repeat="partido in app.partidos">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{partido.idPartido}}" ng-click="muestraQuinielaPartido(partido)">
									<table border=0 width="400">
										<tr>
											<td width="22%">{{partido.localPartido}}</td>
											<td width="22%"><img src="assets/img/{{partido.localPartido}}.png"/></td>
											<td width="12%">vs</td>
											<td width="22%"><img src="assets/img/{{partido.visitantePartido}}.png"/></td>
											<td width="22%">{{partido.visitantePartido}}</td>
										</tr>
									</table>
								</a>
								<br/><br/>
								<span style="font-weight:bold">Resultado: </span>
								<span ng-if="partido.resultadoPartido == 0" >Por Jugarse</span>
								<span ng-if="partido.resultadoPartido == 1" >{{partido.localPartido}}</span>
								<span ng-if="partido.resultadoPartido == 2" >{{partido.visitantePartido}}</span>
								<span ng-if="partido.resultadoPartido == 3" >Empate</span>
								<br/><br/>
								<span style="font-weight:bold">Fecha: </span>
								<span>{{partido.fechaPartido}}</span>
							</h4>
						</div>
						<div id="collapse{{partido.idPartido}}" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<!-- Advanced Tables -->
										<div class="panel-body">
											<div class="table-responsive">
												<table class="table table-striped table-bordered table-hover" id="dataTables-example">
													<thead>
														<tr>
															<th>Usuario</th>
															<th>Quiniela</th>
															<th>Puntos</th>
														</tr>
													</thead>
													<tbody>
														<tr class="odd gradeX" ng-repeat="quiniela in app.quinielas track by quiniela.idQuiniela">
															<td>{{quiniela.nombreUsuario}}</td>
															<td ng-if="quiniela.resultadoQuiniela == 0"> </td>
															<td ng-if="quiniela.resultadoQuiniela == 1">{{partido.localPartido}}</td>
															<td ng-if="quiniela.resultadoQuiniela == 2">{{partido.visitantePartido}}</td>
															<td ng-if="quiniela.resultadoQuiniela == 3">Empate</td>
															<td>{{quiniela.puntosQuiniela}}</td>
														</tr>
										            </tbody>
												</table>
											</div>
										</div>
										<!--End Advanced Tables -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script src="assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="assets/js/dataTables/dataTables.bootstrap.js"></script>
	<script src="../dist/angular/angular.js"></script>
	<script src="../controller/resultadosController.js"></script>

        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable({
				 "paging": false,
				 "ordering": false,
				 "info": false,
				 "search": false});
            });
			
    </script>
         <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
    
   
</body>
</html>
