body {
	background-color:#526480;}
#contenedor {
	margin-top:20%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	padding: 10px;
	width: 420px;
	height: 360px;
}
#contenido {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 420px;
	height: 360px;
	margin-top: -20px;
	border-radius: 3px;
}
h1 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	text-align:center;
	color:#FFFfff;
	}
#header {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	background-image:url(../images/conectrabajo_2x.png);
	background-repeat:no-repeat;
	background-position:center;
	width: 180px;
	height:132px;
}
.label {
	font-family:Tahoma, Geneva, sans-serif;
 	font-size: 15px;
	color: #83b4cb;
	margin-left: 72px;
	margin-bottom:12px;
	margin-top:12px;
}
.article {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width:180px;
	margin-bottom:22px;
	margin-top:22px;
	text-decoration:none;
	text-align:center;
	color:#FFFfff;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}
.article a {
	color:#FFFfff;
	font-weight:bold;
	text-decoration:underline;
}
.article a:hover {
	color:#1f2733;
	font-weight:bold;
	text-decoration:underline;
}
.campoinput {
	color:#526480;
	width: 260px;
	height: 20px;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	margin-left: 72px;
}
#btn1 {
	margin-left: auto;
	margin-right: auto;
	width: 138px;
	height: 34px;
	border: 1px solid #1f2733;
	border-radius: 3px;
	background-color: #1f2733;
	margin-top: 15px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#btn1:hover {
	color: #1f2733;
	background-color: #83b4cb;
	border: 1px solid #83b4cb;
}
#btn1 p {
	margin-top: 10px;
}

@media only screen and (max-width: 768px) {
header {
	width: 160px;
}
#contenedor {
	width: 400px;
}
#contenido {
	width: 700px;
}
.campoinput {
	margin-left:52px;
}
.label {
	margin-left:52px;
}
#header {
	background-image:url(../images/conectrabajo.png);
	background-repeat:no-repeat;
	background-position:center;
	width: 180px;
	height:132px;
}
}
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi)
{
header {
	background-image:url(../images/conectrabajo_2x.png);
	background-repeat:no-repeat;
	background-position:center;
	width: 180px;
	height:132px;
}
}
@media only screen and (max-width: 320px) {
header {
	background-image:url(../images/conectrabajo.png);
	background-repeat:no-repeat;
	background-position:center;
	height:112px;
	width: 110px;
}
#contenedor {
	width: 280px;
	padding: 5px;
}
#contenido {
	width: 280px;
	margin-left: -0px;
}
.campoinput {
	width: 200px;
	margin-left:28px;
}
.label {
	margin-left:28px;
}
}
@media only screen and (max-width: 1200px) {
header {
	background-image:url(../images/conectrabajo_2x.png);
	background-repeat:no-repeat;
	background-position:center;
	height:180px;
	width: 132px;
}
}